body {
    background: dodgerblue;
    width: 80%;
    margin: auto;
    text-align: center;
}

input {
    text-align: right;
}

#calculationsOut li:first {
    font-size: x-large;
}

ul {
    list-style-type: none;
}

#solutionPar {
    font: 1.5em;
    border: 2px solid black;
    width: 30px;
    text-align: right;
}

ul> :first-child {
    font: 1.5em
}

ul {
    background-color: white;
}